{{#with data.products}}
<div class="product">
	<strong class="product__title">{{title}}</strong>
	<p class="product__description">{{description}}</p>
	<div class="product__id">ID: {{id}}</div>
	<div class="product__action">
		<div class="product__price">{{price}}</div>
		<a class="product__button" href="/product-edit?id={{id}}">Редагувати</a>
	</div>
</div>
{{/with}}